.duration{
    display: flex;
    align-items: center;
}

.duration__img{
    padding: 5px 20px;
    cursor: pointer;
}

.duration__length {
    width: 444px;
    height: 4px;
    border-radius: 1px;
    background-color: #626262;
}

.duration__circle{
    cursor: pointer;    
    margin-top: -4px;
    display: block;
}

.duration__circle--high{
    right:0;
    position: absolute;
}